@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient-background {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
    90deg,
    #f0f8ff,
    #add8e6,
    #f0f8ff,
    #f0f8ff,
    #add8e6
  );
  background-size: 200% 100%;
  animation: gradient-background 40s ease infinite;
  color: #333;
}
